* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14 px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: blue;
}
